.navLink {
  margin: 0 20px;
  transition: color 300ms;
}

.navLink:hover {
  color: var(--colormain);
}
.navLinkMobile {
  margin: 5px 0;
  padding: 8px;
  width: fit-content;
  border-radius: 4px;
}
.navLinkMobile:hover {
  color: var(--colormain);

  background-color: #fff;
}
.navLinkMobile:active {
  background-color: #fff;
}
